__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
*.exe
*.spec
google_client_secret.json
google_tokens.json
config.json
.ruff_cache/
.pytest_cache/
.mypy_cache/
*.tmp.*
*.spec
